.header {
    background-color: #01403F; 
}

.header h1 {
    display: inline-block;
    font-size: 48px;
    padding-left: 5%;
    color: #CEBC96;
    margin-bottom: 10px;
}

.header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-size: 20px;
}
.header nav ul {
    list-style-type: none;
}

.header nav ul li {
    display: inline-block;
    margin-left: 25px;
}
a {
    color: #CEBC96;
    text-decoration: none;
}

.hero {
    height: 600px;
    width: 100%;
    background-image: url("../images/zelda-title-art.png");
    background-size: cover;
    background-position: center;
}

.main {
    display: inline-block;
    width: 100%;
}

.main section {
    display: inline-block;
    width: 100%;
}

.main section img {
    padding: 20px;
    margin: 20px;
}

.main section div {
    display: flex;
    flex-wrap: wrap;
    margin-top: 2%;
}

.card {
    display: flex;
    flex: 0 0 0;
    flex-direction: column;
    justify-content: center;
    padding: 15px;
    border-style: solid;
    border-width: 3px;
    border-radius: 5%;
    margin: 15px;
    display: block;
}

.card h3 {
    background-color: #929E59;
    text-align: center;
}

.card p {
    text-align: center;
}

.float-left {
    float: left;
    margin-left: 25px;
}

.main section img {
    display: inline-block;
}

.main section h2 {
    display: inline-block;
    text-align: start;
}

#totk {
    background-color: #CEBC96;
}

#botw {
    background-color: white;
}

#ocarina-of-time {
    background-color: #CEBC96;
}

#majoras-mask {
    background-color: white;
}



.footer {
    text-align: center;
    align-items: center;
    margin-top: 0;
    background-color: white;
    border: 10px #01403F;
}
.foot-text {
    background-color: #CEBC96;
    width: 100%;
}


